<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app" class="container">
        <h1 class="title">Les épisodes de One Piece !</h1>

        <label for="search">Rechercher un épisode</label>
        <input id="search" type="search" v-model="searchString">
        <button>Rechercher</button>

        <div class="card" v-for="episode in episodes">
            <p>Number : {{episode.number}}</p>
            <p>Title : {{episode.title}}</p>
            <p>Descritpion : {{episode.description}}</p>
            <p>Chapitre : {{episode.chapter}}</p>
            <!-- <p>Saga : {{episode.saga.saga_title}}</p>
            <p>Arc : {{episode.arc.arc_title}}</p> -->
        </div>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@3"></script>

	<script>
		const apiURL = "https://api.api-onepiece.com/episodes";
		const config = {};

        Vue.createApp({
			data() {
			    return {
                    episodes: null,
                    searchString: "",
				};
			},

			created: function () {
				this.fetchDataPromise();
			},

            methods: {
                fetchDataPromise: function () {
					const self = this;
					axios
						.get(apiURL)
						.then(function (response) {
							console.log(response.data);
							self.episodes = response.data;
						})
						.catch(function (error) {
					    	console.log(error);
						});
				},
            },

            computed: {
                filteredArticles: function () {
                    var episodes_array = this.episodes,
                    searchString = this.searchString;

                    if (!searchString) {
                        return episodes_array;
                    }

                    searchString = searchString.trim().toLowerCase();

                    episodes_array = episodes_array.filter(function (item) {
                        if (
                            item.title
                                .toLowerCase()
                                .indexOf(searchString) !== -1
                            ) {
                                return item;
                            }
                    });

                    return episodes_array;
                },
            },
        }).mount("#app")
    </script>
</body>
</html>